.sign-up-button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: solid black;
    background-color: lightblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}